    Header set Access-Control-Allow-Origin "http://localhost:3000"
    header set Access-Control-Allow-Credentials "true"
    header set Access-Control-Allow-Methods "POST, GET, OPTIONS"
    header set Access-Control-Allow-Headers "Origin, Content-Type, X-Auth-Token, Authorization, Accept,charset,boundary,Content-Length"